.content-container {
  height: 100%; //remove?
  padding-top: 64px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.project-img {
  border: 10px solid white;
  height: 400px;
  width: auto;
  border-radius: 16px;
}