@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/mixins';

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.page-title {
  @include fonts.page-title-font;
  padding: 0 0 0 112px;
}

.header {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  padding: 24px 0 24px 0;

  a {
    @include fonts.body-font-small;
    padding: 0 24px 0 8px;
    text-decoration: underline;
  }

  a:hover {
    color: colors.$green-dark
  }
}

.tech-stack-container {
  width: 100%;
  padding: 24px 0 24px 0;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.subheading-container {
  width: 80%;
}

.project-subheading {
  @include fonts.project-subheading;
  margin: 48px 0 24px 0;
  // color: colors.$green-light;
}

.body {
  @include fonts.body-font;
  width: 70%;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 48px 0 48px 0;
}

.project-image {
  height: auto;
  // width: 80%;
  border-radius: 16px;
}