@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/mixins';
@use '../../styles/breakpoints';

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.header {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  padding: 24px 0 24px 0;

  a {
    @include fonts.body-font;
    padding: 0 24px 0 8px;
    text-decoration: underline;
  }

  a:hover {
    color: colors.$green-dark
  }

  @include breakpoints.lg {
    flex-direction: column;
    
    a {
      padding: 18px 0 0 0;
    }
  }
}

.tech-stack-container {
  width: 100%;
  padding: 24px 0 24px 0;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.subheading-container {
  width: 80%;
}

.project-subheading {
  @include fonts.project-subheading;
  margin: 24px 0 24px 0;
}

.body {
  @include fonts.body-font;
  width: 70%;
}

.goals {
  padding-left: 16px;
  width: 70%;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 48px 0 48px 0;
  width: 100%;
}

.project-image {
  height: auto;
  width: 100%;
  border-radius: 16px;
  border: 1px solid colors.$offwhite-dark;
  object-fit: cover;
}