$green: #055F4F;
$green-dark: #0E2B26;
$green-light: #46A090;
$offwhite: #F3F2ED;
$offwhite-dark: #E9E6DA;
$offwhite-light: #FFFFFF;

// $background: #F3F2ED;
// $nav-selected: #FFFFFF;
// $nav-hover: #FFFFFF70;
// $logo-background: #055F4F;
// $text-dark: #055F4F;
// $text-light: #F3EDDA;
// $label-background: #FFFFFF; //rename card background
// $button: #055F4F;
// $button-hover: #1C3E38;
// $tab-background: #FFFFFF;
// $tab-border: #055F4F;