$green: #055F4F;
$green-dark: #0E2B26;
$green-light: #46A090;
$offwhite: #F3F2ED;
$offwhite-gradient: #fafafa;
$offwhite-dark: #E9E6DA;
$offwhite-light: #FFFFFF;
$offwhite-light-transparent: #FFFFFFEF;