$background: #F3F2ED;
// $nav-selected: #D9D3C2;
$nav-selected: #FFFFFF;
$nav-hover: #FFFFFF60;
$logo-background: #055F4F;
$text-dark: #055F4F;
$text-light: #F3EDDA;
// $label-background: #D9D3C2;
$label-background: #FFFFFF; //rename card background
$button: #055F4F;
$button-hover: #1C3E38;
// $tab-background: #D9D3C2;
$tab-background: #FFFFFF;
$tab-border: #055F4F;