@use './colors';
@use './breakpoints';

// .fraunces-<uniquifier> {
//   font-family: "Fraunces", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>; 100-900
//   font-style: normal; normal or italic
//   font-variation-settings:
//     "SOFT" 0, 0, 50, 100
//     "WONK" 0; 0 or 1
// }

// .inter-<uniquifier> {
//   font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>; 100-900
//   font-style: normal;
//   font-variation-settings:
//     "slnt" 0; -10-0
// }

@mixin fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-variation-settings:
    "SOFT" 50,
    "WONK" 1;
}

@mixin inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin name-font {
  @include fraunces;
  font-size: 160px;
  color: colors.$green;
  font-weight: 700;

  @include breakpoints.xl {
    font-size: 112px;
  }

  @include breakpoints.lg {
    font-size: 88px;
  }

  @include breakpoints.md {
    font-size: 66px;
  }

  @include breakpoints.sm {
    font-size: 58px;
  }
}

@mixin bio-font {
  @include inter;
  font-size: 24px;
  color: colors.$green;
  font-weight: 400;

  @include breakpoints.xl {
    font-size: 20px;
  }

  @include breakpoints.lg {
    font-size: 18px;
  }

  @include breakpoints.md {
    font-size: 16px;
  }

  @include breakpoints.sm {
    font-size: 14px;
  }
}

@mixin sub-title-font {
  @include fraunces;
  font-size: 24px;
  color: colors.$green;
  font-weight: 600;

  @include breakpoints.xl {
    font-size: 20px;
  }

  @include breakpoints.lg {
    font-size: 18px;
  }

  @include breakpoints.md {
    font-size: 16px;
  }

  @include breakpoints.sm {
    font-size: 14px;
  }
}

@mixin page-title-font {
  @include fraunces;
  font-size: 72px;
  color: colors.$green;
  font-weight: 600;

  @include breakpoints.xl {
   font-size: 68px;
  }

  @include breakpoints.lg {
    font-size: 52px; 
  }

  @include breakpoints.md {
    font-size: 48px;
  }

  @include breakpoints.sm {
    font-size: 44px;
  }
}

@mixin nav-font {
  @include fraunces;
  font-size: 20px;
  color: colors.$green;
  font-weight: 600;
}

@mixin body-font {
  @include inter;
  font-size: 18px;
  color: colors.$green;
  font-weight: 400;

  @include breakpoints.xl {
    font-size: 16px;
  }
}

@mixin body-font-small {
  @include inter;
  font-size: 16px;
  color: colors.$green;
  font-weight: 400;
}

@mixin body-font-large {
  @include inter;
  font-size: 24px;
  color: colors.$green;
  font-weight: 400;
}

@mixin label-font {
  @include inter;
  font-size: 14px;
  color: colors.$offwhite-light;
  font-weight: 400;

  @include breakpoints.xl {
    font-size: 14px;
  }

  @include breakpoints.lg {
    font-size: 12px;
  }

  @include breakpoints.md {
    font-size: 10px;
  }

  @include breakpoints.sm {
    font-size: 10px;
  }
}

@mixin button-font {
  @include inter;
  font-size: 18px;
  color: colors.$offwhite;
  font-weight: 400;

  @include breakpoints.xl {
    font-size: 16px;
  }

  @include breakpoints.lg {
    font-size: 14px;
  }

  @include breakpoints.md {
    font-size: 12px;
  }

  @include breakpoints.sm {
    font-size: 12px;
  }
}

@mixin tab-content-title {
  @include fraunces;
  font-size: 28px;
  color: colors.$green;
  font-weight: 600;
}

@mixin contact-link-label {
  @include fraunces;
  font-size: 24px;
  color: colors.$green-light;
  font-weight: 600;
}

@mixin project-card-title {
  @include fraunces;
  font-size: 36px;
  color: colors.$green;
  font-weight: 600;
}

@mixin project-subheading {
  @include fraunces;
  font-size: 48px;
  color: colors.$green;
  font-weight: 600;
}
