@use './colors';

// .fraunces-<uniquifier> {
//   font-family: "Fraunces", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>; 100-900
//   font-style: normal; normal or italic
//   font-variation-settings:
//     "SOFT" 0, 0, 50, 100
//     "WONK" 0; 0 or 1
// }

// .inter-<uniquifier> {
//   font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>; 100-900
//   font-style: normal;
//   font-variation-settings:
//     "slnt" 0; -10-0
// }

@mixin fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto; //remove?
  font-style: italic;
  font-variation-settings:
    "SOFT" 50,
    "WONK" 1;
}

@mixin inter {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; //remove?
  font-style: normal; //remove?
}

@mixin name-font {
  @include fraunces;
  font-size: 144px;
  color: colors.$text-dark;
  font-weight: 700;
}

@mixin bio-font {
  @include inter;
  font-size: 24px;
  color: colors.$text-dark;
  font-weight: 400;
}

@mixin sub-title-font {
  @include fraunces;
  font-size: 24px;
  font-weight: 600;
  color: colors.$text-dark;
}

@mixin page-title-font {
  @include fraunces;
  font-size: 72px;
  color: colors.$text-dark;
  font-weight: 600;
}

@mixin nav-font {
  @include fraunces;
  font-size: 24px;
  color: colors.$text-dark;
  font-weight: 500;
}

@mixin body-font {
  @include inter;
  font-size: 16px;
  color: colors.$text-dark;
  font-weight: 400;
}

@mixin label-font {
  @include inter;
  font-size: 16px;
  color: colors.$text-dark;
  font-weight: 400;
}

@mixin button-font {
  @include inter;
  font-size: 20px;
  color: colors.$text-light;
  font-weight: 400;
}

@mixin tab-font {
  @include fraunces;
  font-size: 20px;
  color: colors.$text-dark;
  font-weight: 600;
}

@mixin tab-content-title {
  @include inter;
  font-size: 20px;
  color: colors.$text-dark;
  font-weight: 600;
}

@mixin contact-text {
  @include inter;
  font-size: 24px;
  color: colors.$text-dark;
  font-weight: 400;
}

@mixin contact-link-label {
  @include fraunces;
  font-size: 24px;
  color: colors.$text-dark;
  font-weight: 600;
}

@mixin contact-link {
  @include inter;
  font-size: 18px;
  color: colors.$text-dark;
  font-weight: 400;
}

@mixin project-card-title {
  @include inter;
  font-size: 16px;
  color: colors.$text-dark;
}

@mixin project-card-description {
  @include inter;
  font-size: 14px;
  color: colors.$text-dark
}

@mixin project-subheading {
  @include fraunces;
  font-size: 48px;
  color: colors.$text-dark;
  font-weight: 600;
}
