@use './fonts';
@use './colors';

@mixin button {
  @include fonts.button-font;
  background-color: colors.$green;
  padding: 4px 16px 4px 16px;
  border: none;
  border-radius: 19px;
}

@mixin button-hover {
  cursor: pointer;
  background-color: colors.$green-dark;
}