@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/breakpoints';

.intro-container {
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: 24px 0 112px 0;
}

.name {
  @include fonts.name-font;
}

.bio {
  @include fonts.bio-font;
}

.bold {
  font-weight: 700;
  color: colors.$green-light;
}

.scroll-button {
  margin: 72px 0 0 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.scroll-button:hover {
  transform: translateY(-0.25em);

  @include breakpoints.lg {
    transform: none;
  }
}

.arrow {
  margin: 16px 0 0 0;
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0 0 0;
}

.sub-title {
  @include fonts.sub-title-font;
}

.page-title {
  @include fonts.page-title-font;
  padding: 0 0 0 112px;
}

.skills-container {
  width: 70%;
  display: flex;
  justify-content: center;
}

.skills-sub-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 112px 0;
}

.top-container {
  display: flex;
  width: 100%;
}

.bottom-container {
  display: flex;
  width: 100%;
  padding: 72px 0 0 0;
}

.label-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.image {
  width: 30%;
  object-fit: cover;
  border-radius: 8px;
}

.skills-text {
  padding: 0 0 0 48px;
  width: 70%;
}

.intro-text {
  @include fonts.body-font;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
}

.background-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.body-text {
  @include fonts.body-font;
  width: 100%;
}