@use '../../styles/colors';
@use '../../styles/fonts';

.content-container {
  display: flex;
  flex-direction: column;
  // padding: 36px 48px 0 48px;
  flex-grow: 1;
  width: 80%;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.body-text {
  @include fonts.contact-text;
}

.link-container {
  padding: 36px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub-container {
  display: flex;
  align-items: center;
  padding: 18px 0 0 0;
}

.link-label {
  @include fonts.contact-link-label;
}

.text {
  @include fonts.contact-link;
  padding: 0 0 0 16px;

  a {
    text-decoration: underline;
  }

  // unvisited
  // a:link {

  // }

  // a:visited {
    
  // }

  a:hover {
    color: colors.$green-dark;
  }
}