@use "../../styles/colors";
@use "../../styles/fonts";

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80%;
}

.button-container {
  padding: 0 0 48px 0;
}

.tabs-container {
  flex-grow: 1;
  padding: 0 0 48px 0;

  li::marker {
    color: colors.$green-light;
  }
}