@use '../../styles/fonts';

.content-container {
  padding: 36px 48px 0 48px;
}

.project-container {
  height: 100dvh;
}

.card-container {
  display: grid;
  grid-template-columns: [first] auto [line2] auto [line4] ;
  grid-template-rows: [row1start] auto [row1end] auto [last-line];
  column-gap: 64px;
  row-gap: 64px;
}