@use '../../styles/fonts';

.intro-container {
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 120px 0 0 0;
}

.name {
  @include fonts.name-font;
}

.bio {
  @include fonts.bio-font;
}

.sub-title {
  @include fonts.sub-title-font;
  padding: 104px 0 0 0;
}

.arrow {
  margin: 16px 0 0 0;
}