@use '../../styles/colors';
@use '../../styles/fonts';

.footer-container {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
}

.text {
  @include fonts.body-font-small;
  color: colors.$green;
}