.layout {
  border: 2px green solid; //remove
  background-color: green; //remove
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: yellow; //remove
}