@use '../../styles/fonts';
@use '../../styles/colors';

.layout-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 112px 24px 112px;
}

.title-container {
  @include fonts.page-title-font;
}