@use '../../styles/fonts';
@use '../../styles/colors';

.nav-container {
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 16px;
  height: 48px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
      @include fonts.nav-font;
      margin: 16px;
    }

  a {
    padding: 8px 32px 8px 32px;
    border-radius: 32px;
  }

  a:hover {
    background-color: colors.$offwhite-dark;
    }

  a.active {
    background-color: colors.$offwhite-light;
  }
}
