@use '../../styles/colors';
@use '../../styles/fonts';

.label-card {
  background-color: colors.$green-light;
  border-radius:24px;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 8px;
}

.label-text {
  @include fonts.label-font;
  padding: 8px 24px 8px 24px;
}