@use '../../styles/colors';
@use '../../styles/fonts';

.card-container {
  background-color: colors.$offwhite-light;
  border-radius: 16px;
  height: 280px;
  width: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5em 0.5em -0.4em #D9D3C2; // add to colors
  transition: 0.3s;
  overflow: hidden;
  margin: 24px;
  border: 1px solid #D9D3C2;
}

.card-container:hover {
  cursor: pointer;
  transform: translateY(-0.25em);
}

.title {
  @include fonts.project-card-title;
  padding: 8px;
}

.description {
  @include fonts.project-card-description;
  padding: 0 8px 8px 8px;
}

.project-img {
  height: 70%;
  object-fit: cover;
}