@use '../../styles/colors';
@use '../../styles/fonts';

.card-container {
  background-color: colors.$green;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: -4px 4px 4px colors.$offwhite-dark; //make darker
  transition: 0.3s;
  overflow: hidden;
  border: 16px solid colors.$green;
}

.card-container:hover {
  cursor: pointer;
  transform: translateY(-0.25em);
}

.title {
  @include fonts.project-card-title;
  padding: 16px;
}

.description {
  @include fonts.project-card-description;
  padding: 0 16px 16px 16px;
}

.project-img {
  height: 70%;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 8px;
}