@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/breakpoints';

.grid-item {
  height: 216px;
  width: 100%;
}

.card-container {
  background-color: colors.$offwhite-light;
  border-radius: 16px;
  height: 100%;
  width: 100%;
  padding: 48px;
  display: flex;
  box-shadow: -4px 4px 8px colors.$offwhite;
  flex-direction: column;
  transition: 0.3s;
  align-items: flex-start;
  justify-content: center;
}

.card-container:hover {
  cursor: pointer;
  transform: translateY(-0.25em);

  @include breakpoints.lg {
    transform: none;
  }
}

.title {
  @include fonts.project-card-title;
}

.description {
  @include fonts.body-font;
  padding: 8px 0 16px 0;
  max-width: 500px;
}

.label-container {
  display: flex;
  padding: 0 8x 16px 8px;
  gap: 8px;
}