@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/breakpoints';

.container {
  display: flex;
  height: 100%;

  @include breakpoints.lg {
    flex-direction: column;
  }
}

.tab-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @include breakpoints.lg {
    flex-direction: row;
    align-items: center;
  }
}

.tab-item {
  @include fonts.body-font;
  width: 8em;
  padding: 8px;
  border-left: 4px solid colors.$offwhite-dark;

  @include breakpoints.lg {
    border-left: none;
    border-top: 4px solid colors.$offwhite-dark;
  }

  @include breakpoints.md {
    width: auto;
    padding: 8px 12px 8px 12px;
  }
}

.tab-item:hover {
  cursor: pointer;
}

.current {
  border-left: 4px solid colors.$green;

  @include breakpoints.lg {
    border-left: none;
    border-top: 4px solid colors.$green;
  }
}

.text-container {
  min-height: 400px;
  display: flex;
  align-items: flex-start;
}

.text-box {
  background-color: colors.$offwhite-light;
  padding: 32px;
  margin: 0 0 0 36px;
  border-radius: 8px;

  h2 {
    @include fonts.tab-content-title;
  }

  h3 {
    @include fonts.body-font;
    color: colors.$green-light;
  }
  
  li {
    @include fonts.body-font-small;
  }

  ul {
    padding: 24px 0 0 24px;
  }

  span {
    font-weight: 600;
  }

  @include breakpoints.lg {
    margin: 0;
  }
}