@use '../../styles/colors';
@use '../../styles/fonts';

.container {
  display: flex;
  height: 100%;
}

.tab-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0;
}

.tab-item {
  @include fonts.body-font-small;
  width: 8em;
  padding: 8px;
  border-left: 2px solid colors.$offwhite-light;
}

.tab-item:hover {
  cursor: pointer;
}

.current {
  border-left: 2px solid colors.$green;
}

.text-container {
  min-height: 400px;
  display: flex;
  align-items: flex-start;
}

.text-box {
  background-color: colors.$offwhite-light;
  padding: 32px;
  margin: 0 0 0 36px;
  border-radius: 8px;

  h2 {
    @include fonts.tab-content-title;
  }

  h3 {
    @include fonts.body-font-small;
    color: colors.$green-light;
  }
  
  li {
    @include fonts.body-font-small;
  }

  ul {
    padding: 24px 0 0 24px;
  }

  span {
    font-weight: 600;
  }
}