@use "./styles/colors";
@use "./styles/fonts";
@use "./styles/reset";

body {
  background-color: colors.$offwhite;
  min-height: 100dvh;
}

#root {
  height: 100dvh;
}

.no-scroll {
  overflow: hidden;
}
